html {
    display: flex;

    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: auto;
    margin: 0;

    background-image: url("images/mainBG.png");
    background-position: center;
    background-size: auto 950px;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
}

header {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: 950px;

    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;

    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

nav a {
    margin-right: 60px;

    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
}

.header__cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.header__cover span {
    font-size: 32px;
    font-family: Georgia;
    font-style: italic;
}

h1 {
    margin: 0;
    margin-top: -50px;

    font-size: 72px;
    font-family: MyriadPro;
    font-weight: bold;
    text-transform: uppercase;
}

.main__authorization {
    display: flex;
    align-items: center;

    position: absolute;
    left: 0;

    width: 100%;
    height: 123px;

    background-color: rgb(57, 208, 131);
}

.main__authorization__login,
.main__authorization__register {
    display: grid;
    align-items: center;

    height: 100%;

    flex: 1;
    
    color: white;
    font-size: 22px;
    font-family: Lato;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.main__authorization__login {
    padding-right: 310px;

    background-color: rgb(32, 55, 71);

    text-align: right;
}

.main__authorization__login::after {
    content: '';
  
    position: absolute;
    left: calc(50% - 15px);
    top: 0;
    
    border-top: 123px solid rgb(32, 55, 71);
    border-right: 30px solid transparent;
}

.main__authorization__register {
    padding-left: 310px;
    text-align: left;
}

.main__authorization__register::after {
    content: '';
  
    position: absolute;
    left: calc(50% - 15px);
    top: 0;
    
    border-bottom: 123px solid rgb(57, 208, 131);
    border-left: 30px solid transparent;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "MyriadPro";
    src: url("fonts/MyriadPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Georgia";
    src: url("fonts/Georgia-Italic.ttf");
    font-style: italic;
}

